<div class="main">
  <div class="container px-5">
    <div class="row align-items-center main px-5">
      <div class="row shadow rounded mainbody">
        <div class="col-6 d-flex justify-content-center align-items-center">
          <img src="favicon.ico" alt="" height="400px" />
        </div>
        <div class="col-6 d-flex justify-content-center align-items-center">
          <!-- Material form grid -->
          <form>
            <!-- Grid row -->

            <div class="row py-5">
              <!-- Grid column -->
              <div class="col-12 w-100">
                <!-- Material input -->
                <div class="md-form m-2">
                  <input
                    mdbInput
                    type="text"
                    class="form-control"
                    placeholder="Username"
                  />
                </div>
              </div>


              <div class="col-12 text-center px-5">
                <button class="btn btn-success" routerLink='home'>Reset my password</button>
              </div>
               <div class="col-12 pt-3 text-center">Create your Account <a href="#" routerLink="/register">here</a></div>
            </div>
            <!-- Grid row -->
          </form>
          <!-- Material form grid -->

        </div>
      </div>
    </div>
  </div>
</div>
