body {
  background-color: black;
}

.main {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.127)
}

.main1 {
  height: 100vh;
}

input.ng-invalid.ng-touched{
  border-bottom: red 2px solid !important;
}

#dialing-code {
  background-color: red;
}

select {
  font-size: 14px;
}
