<div class="row blue topnavbar text-white m-0 p-0 no-gutters position-relative shadow-lg">
  <div class="col-2 d-flex align-items-center justify-content-center mr-lg-auto">
    <div class="h6 text-white m-0 px-3 header font-weight-lighter">Vision Insight <i
        class="fas px-2 fa-caret-right pr-2"></i><span class="font-weight-lighter mb-2">AIMDM</span></div>
  </div>
  <div class="col-4 d-flex flex-column justify-content-center position-relative">
    <form class="form-inline d-flex justify-content-center md-form">
      <i class="fas fa-search text-primary f-13" aria-hidden="true" style="position: absolute; top: 35%; left: 7%;"></i>
      <input class="w-100 py-0 px-5" height="26px" type="text" placeholder="Search Resources" aria-label="Search" />
    </form>
  </div>
  <div class="col-sm-6 col-lg-4 d-flex justify-content-end float-right">
    <ul class="nav topnav">
      <li class="nav-item">
        <a class="nav-link text-white px-2" href="#!"><i class="fal fa-megaphone"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white p-2" href="#!"><i class="fal fa-retweet"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white p-2" href="#!"><i class="fal fa-bell"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white p-2" href="#!"><i class="fal fa-smile"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white p-2" href="#!">?</a>
      </li>
    </ul>
    <div class="nav-item media px-2">
      <div class="media-body d-none d-md-block" style="height: 40px;">
        <div class="font-weight-semibold f-12 pt-1 m-0">Someone@outlook.com</div>
        <div class="f-10 text-right">Default Directory</div>
      </div>
      <img class="rounded-circle p-1 m-0" height="40px" width="40px" src="./assets/img/avatar.png"
        alt="Generic placeholder image" />
    </div>
  </div>
</div>