body {
  background-color: black;
}

.main {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.127)
}

.main1 {
  height: 100vh;
}

@-webkit-keyframes autofill {
to {
color: #666;
background: transparent; } }

@keyframes autofill {
to {
color: #666;
background: transparent; } }

input:-webkit-autofill {
-webkit-animation-name: autofill;
animation-name: autofill;
-webkit-animation-fill-mode: both;
animation-fill-mode: both; }

.md-form > input[type]:-webkit-autofill:not(.browser-default):not([type='search']) + label {
  transform: translateY(-14px);
}
