* {
  box-sizing: border-box !important;
}

input.ng-invalid.ng-touched{
  border-bottom: red 2px solid !important;
}

input:focus, textarea:focus, select:focus{
        outline: none !important;
    }
